<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.amusu.teamname_cst2335_final_project">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CbcDetailActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".CbcDetailWeb"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".CBClocalTotalActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".CBCMainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />



        <!--  <activity android:name=".FoodNutritionDatabaseActivity"
              android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>  -->

        <activity
            android:name=".FoodNutrition.FoodMainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".CBCNewsReaderActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".movie.MovieInformationActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".rogerli.octranspo.OCTranspoBusRouteActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".rogerli.octranspo.OCTranspoRouteDetails" />
        <activity android:name=".rogerli.octranspo.OCTranspoTripDetails" />
        <activity android:name=".movie.MovieDetailActivity" />

        <provider
            android:name="com.example.amusu.teamname_cst2335_final_project.movie.MovieProvider"
            android:authorities="com.example.amusu.provider"
            android:enabled="true"
            android:protectionLevel="signature"
            android:exported="false" />

     <!--   <activity android:name=".FoodNutrition.FoodFragment" />  -->
        <activity android:name=".FoodNutrition.activity_food_help"></activity>


    </application>

</manifest>

